
/*  ------------------------------   */
/*  ------- DEFAULT STYLES -------   */
/*  ------------------------------   */
.d-flex {
   display: flex;
}

.p-relative {
   position: relative;
}

.p-absolute {
   position: absolute;
}

.align-l {
   text-align: left
}

.align-c {
   text-align: center
}

.align-r {
   text-align: right
}

.col-12 {
   width: 100%;
}
.col-9 {
   width: 75%;
}
.col-8 {
   width: 66.66%;
}
.col-6 {
   width: 50%;
}
.col-4 {
   width: 33.33%;
}
.col-3 {
   width: 25%;
}
.col-2 {
   width: 16.66%;
}
.col-1 {
   width: 8.33%;
}

.pdng-1 {
   padding: 0 15px;
}




@font-face {
   font-family: 'SourceCodePro-Regular';
   src:  url('../fonts/Source_Code_Pro/SourceCodePro-Regular.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
	font-family: 'SourceCodePro-Medium';
   src:  url('../fonts/Source_Code_Pro/SourceCodePro-Medium.ttf');
   font-weight: normal;
   font-style: normal;
}

@font-face {
	font-family: 'SourceCodePro-Black';
   src:  url('../fonts/Source_Code_Pro/SourceCodePro-Black.ttf');
   font-weight: normal;
   font-style: normal;
}







body {
   /* font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" */
   font-family: 'SourceCodePro-Regular', monospace;
	box-sizing: border-box;
	background-color: #9FF7B9;
	overflow-x: hidden;
}

body .background-form {
   width: 100%;
   height: 760px;
   background-color: #9FF7B9;
   z-index: 0; 
}

.body-container {
	min-height: 100%;
	overflow-y: hidden;
	background-color: #fff; 
}

body .background-form.top {
   top: 0;
   -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
   clip-path: polygon(0 0, 100% 0, 100% 100%, 0 76%);
}

body .background-form.bottom {
   bottom: -240px;
   -webkit-clip-path: polygon(0% 0%, 100% 24%, 100% 100%, 0% 100%);
   clip-path: polygon(0% 0%, 100% 24%, 100% 100%, 0% 100%);
}





/*  ------------------------------   */
/*  ------ SITE HEAD STYLES ------   */
/*  ------------------------------   */

header {
   width: 100%;
   padding: 50px 0;
}

.header-container {
   margin: 0 auto;
   max-width: 1140px;
   justify-content: space-between;
}

.header-container .site-title a {
   text-decoration: none;
   color: #fff;
}

/* .header-container .site-logo span {
   font-size: 32px;
   line-height: 36px;
   padding-right: 8px;
} */

.header-container .site-name {
   font-size: 50px;
   font-weight: 700;
	text-align: center;
	font-family: "SourceCodePro-Black";
}

.header-container .contacts a {
   display: block;
   font-size: 16px;
   text-decoration: none;
   color: #131313;
   text-align: right;
}

.header-container .contacts a:first-child {
   margin-bottom: 18px;
}

.header-container .contacts a:hover {
   color: #555;
   text-decoration: underline;
}




/*  ------------------------------   */
/*  ------ SITE BODY STYLES ------   */
/*  ------------------------------   */

main {
   margin: 50px auto 100px;
   max-width: 1140px;
}

#mainInfo {
   justify-content: space-between;
   color: #131313;
}

#mainInfo .profile-photo img {
   width: 160px;
   height: 160px;
   border-radius: 50%;
}


#mainInfo .profile-title .name {
   font-size: 36px;
   padding: 20px 0;
}

#mainInfo .profile-title .name span {
   color: #ffffff;
}

#mainInfo .profile-title .position,
#mainInfo .profile-title .location {
   font-size: 16px;
   line-height: 28px;
}

#mainInfo .skills {
   margin-top: 50px; 
}

#mainInfo .skills p {
   font-size: 16px;
   line-height: 28px;
}


section.with-title {
   margin-top: 100px;
}

section.with-title .section-title {
   font-size: 24px;
   color: #2BB755;
}

section.with-title .list.d-flex {
   justify-content: space-between;
}

section.with-title .list .one-skill img {
   display: block;
   width: 66px;
   height: 66px;
   margin: 0 auto 16px; 
}

section.with-title .list .one-skill h4 {
   font-size: 16px;
   color: #131313;
   text-align: center;
}


section.with-title .job-card .company h4,
section.with-title .education-card .degry {
	font-family: "SourceCodePro-Black";
   font-size: 24px;
   color: #131313;
   font-weight: 700;
   margin-bottom: 20px
}

section.with-title .job-card .time-period, 
section.with-title .education-card .university, 
section.with-title .education-card .years {
	font-family: "SourceCodePro-Medium";
   font-size: 24px;
   color: #131313;  
   margin-bottom: 20px
}

section.with-title .job-card .job-discription  {
	font-family: "SourceCodePro-Regular";
	font-size: 16px;
	color: #131313;
	line-height: 28px;
}









/*  ------------------------------   */
/*  ----- SITE FOTTER STYLES -----   */
/*  ------------------------------   */

footer {
	width: 100%;
	height: 500px;
}

.footer-container {
   margin: 0 auto;
   max-width: 1140px;
   padding-top: 240px;
   padding-bottom: 24px;
}

footer .made-by {
   color: #777;
   font-size: 14px;
   line-height: 34px;
}

footer .site-logo a {
   font-size: 28px;
   line-height: 34px;
   color: #c6cbd1;
   text-decoration: none;
}

footer .social-links ul {
   justify-content: flex-start;
}

footer .social-links li {
   margin-right: 54px; 
}

footer .social-links a {
   color: #aaa;
   text-decoration: none;
   font-size: 20px;
   line-height: 70px;
}

footer .contact-links li:first-child {
	margin-bottom: 22px;
}

footer .contact-links p, 
footer .contact-links a {
	font-family: "SourceCodePro-Medium";
	font-size: 24px;
	color: #131313;
}

footer .contact-links a:hover {
	text-decoration: none;
}

footer .made-by {
	margin-top: 120px;
	font-family: "SourceCodePro-Medium";
	font-size: 16px;
	color: #131313;
}